html,
body {
  scroll-behavior: smooth;
}

html,
body,
#root {
  height: auto;
  min-height: 100vh;
}

.tour-details-layout {
  display: flex;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  gap: 2rem;
  box-sizing: border-box;
  align-items: flex-start;
}

.sidebar {
  font-family: var(--font-heading);
  width: 240px;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  background: white;
  border-right: 1px solid #eee;
  align-self: flex-start;
}

.scrolling-content {
  font-family: var(--font-heading);
  flex-grow: 1;
  padding: 2rem;
  box-sizing: border-box;
}

.sidebar nav a {
  display: block;
  margin-bottom: 1rem;
  color: var(--color-dark);
  font-weight: 600;
  text-decoration: none;
  transition: color 0.2s;
}

.sidebar nav a:hover {
  color: var(--color-accent-yellow);
}

.scrolling-content section {
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #e0e0e0;
  font-size: 1.125rem;
  margin-bottom: 2rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #eee;
}

.scrolling-content section::before {
  content: "";
  display: block;
  height: 120px; /* match your header height */
  margin-top: -120px;
  visibility: hidden;
}

.scrolling-content h2 {
  font-family: var(--font-heading);
  font-size: 2rem;
  color: var(--color-primary-green);
  margin-bottom: 1rem;
  position: relative;
  display: inline-block;
  text-align: center;
}

.scrolling-content h2::after {
  content: "";
  display: block;
  width: 50%;
  height: 4px;
  background: var(--color-accent-yellow);
  margin: 0.5rem auto 0;
}

.scrolling-content ul {
  padding-left: 1.25rem;
  line-height: 1.6;
  text-align: left;
  list-style-type: "⛳";
}

.scrolling-content ol {
  text-align: left;
}

.scrolling-content li {
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.scrolling-content p {
  padding-left: 1.25rem;
  line-height: 1.6;
  text-align: left;
}

.scrolling-content a {
  color: var(--color-accent-yellow);
}

.scrolling-content p span {
  display: block;
  padding-bottom: 1rem;
}

.scrolling-content li span {
  display: block;
  padding-bottom: 1rem;
}

.scrolling-content table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.scrolling-content table th,
.scrolling-content table td {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  text-align: left;
  background-color: #fff;
}

.scrolling-content table th {
  background-color: var(--color-primary-green);
  color: white;
}

@media (max-width: 768px) {
  .tour-details {
    flex-direction: column;
  }

  .sidebar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    border-top: 2px solid var(--color-primary-green);
    padding-top: 1rem;
  }

  .sidebar nav a {
    margin: 0;
  }
}

.sidebar nav a.active {
  color: var(--color-accent-yellow);
  font-weight: 700;
  position: relative;
}
