.card-table-width5 {
  max-width: 50%;
}

.cell-value5 {
  word-break: break-word;
  width: 30%; /* adjust as needed */
  height: 10px;
}

.cell-image2 {
  padding: 0.75rem;
  text-align: center;
  width: 100px; /* fixed width for thumbnail column */
}

.event-thumbnail2 {
  width: 220px;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #ececec; /* placeholder gray */
}
