.sponsors-carousel {
  background: var(--color-light);
  overflow: hidden;
  padding: 0rem 0;
  padding-bottom: 2rem;
}

.sponsors-track {
  display: flex;
  justify-content: center; /* centers items horizontally */
  gap: 4rem; /* optional: adds space between logos */
}

.sponsor-item {
  flex: 0 0 auto;
  width: 150px;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sponsor-item img {
  max-width: 100%;
  height: auto;
  opacity: 1;
  transition: opacity 0.2s;
}

.sponsor-item img:hover {
  opacity: 0.8;
}

.sponsors-carousel h2 {
  font-family: var(--font-heading);
  font-size: 2rem;
  color: var(--color-primary-green);
  margin-bottom: 2.5rem;
  position: relative;
  display: inline-block;
}

.sponsors-carousel h2::after {
  content: "";
  display: block;
  width: 50%;
  height: 4px;
  background: var(--color-accent-yellow);
  margin: 0.5rem auto 0;
}
